<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>your lucky number is {{lucky_num}}</h1>
    <p>{{msg}}</p>

    {% if lucky_num == 3 %}
    <h2>thats my lucky number too</h2>
    {% else %}
    <h2>i don't like that number</h2>
    {% endif %}

    <ul>
        {% for compliment in compliments %}
        <li>{{compliment}}</li>
        {% endfor %}
    </ul>
</body>

</html>